body {
  margin: 3px;
  width: 100%;
  max-width: 100%;
}

.hero {
  background-image: url(images/Hero.jpg);
  height: 450px;
  width: 100%;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 5px;
}

h1 {
  font-size: 48px;
  color: #f4d58d;
  text-align: center;
  margin-top: 80px;
  text-shadow: 1px 1px 4px #000;
}

h2 {
  color: #333333;
  font-size: 30px;
}

p {
  color: #333333;
  font-size: 17px;
}

.middle {
  background-color: #f4d58d;
  text-align: center;
  margin-top: 0;
  width: 100%;
  padding: 50px 0;
}

.highlights {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

#bali-img,
#yogyakarta-img,
#jakarta-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.city {
  width: 90%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: #2e8b57;
  margin-top: 5px;
  padding: 30px 0;
  border-bottom: 10px solid #006400;
}

.guide {
  display: flex;
  width: 90%;
  text-align: center;
  flex-direction: column;
  padding-left: 0;
  align-items: center;
  margin: 0 auto;
}

.guide-title {
  font-size: 50px;
  color: #f0ead6;
}

.guide-desc {
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
  color: #f0ead6;
}

.guide-sign {
  font-size: 30px;
  font-style: italic;
  color: #f0ead6;
}

#author-img {
  width: 80%;
  height: auto;
  background-size: cover;
  margin-bottom: 20px;
  margin-left: 0;
  border-radius: 0%;
  max-width: 300px;
}

.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.instrument-sans-italic {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  .hero {
    padding: 100px 0;
  }

  h1 {
    font-size: 72px;
    margin-top: 110px;
  }

  .highlights {
    flex-direction: row;
  }

  .city {
    width: 30%;
    margin-bottom: 0;
  }

  .profile {
    flex-direction: row;
    padding: 50px 0;
  }

  .guide {
    width: 50%;
    padding-left: 200px;
  }

  #author-img {
    width: 300px;
    height: 500px;
    margin-left: 150px;
    margin-bottom: 10px;
  }
}
